/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.mobile
 */
 
div#alerts-index {
  .ui-btn.ui-btn-icon-right.ui-li-has-arrow.ui-li.ui-btn-up-c {
    height: 85px;
  }

  .ui-btn-text {
    height: 85px;
    padding: 0px 0px 0 50px;

  } 
  .alert-icon{
    width:20px;
    height:26px;
    padding:10px; 
  }
  .alert-description{
    margin:0px;
  }
  .alert-title{
    margin-bottom:20px;

  }
  .alert-trend{
    font-size:14px;
    font-weight:normal;
  }
  .alert-value{
   font-size:14px;
    font-weight:normal; 
  }

}


  .ui-btn-text {
    height: 85px;
    padding: 0px 0px 0 50px;

  } 
  .alert-icon{
    width:20px;
    height:26px;
    padding:10px; 
  }
  .alert-description{
    margin:0px;
  }
  .alert-title{
    margin-bottom:20px;

  }
  .alert-trend{
    font-size:14px;
    font-weight:normal;
  }
  .alert-value{
   font-size:14px;
    font-weight:normal; 
  }
